<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <h1>Total $<%= @order.total_cents / 100  %></h1>
    <h1>email :<%= @order.email %></h1>
  

     
  </header>
  <div >
  <table class="cart-show">
    <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    
      <% @products.each do |item| %>
    <tr> 
      <td><%= item.name %></td>
      <td><%= image_tag item.image.tiny.url %></td>
      <td><%= item.description %></td>
      <td><%= item.quantity %></td>
      <td>$<%= item.total_price_cents / 100 %></td>
    </tr>
     <% end %>
  </tbody>
</table>
</div>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
